.m-auto{
  margin: auto;
}

.cardbg{
  height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
  margin: 0;
  padding: 0;
}

body,html, .App, #root{
  height: 100%;
}